* {
 padding: none;
}

.main_h1 {
    text-align: center;
    font: size 3px;
    color: cornflowerblue;
    font-family: 'Roboto', sans
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif.
    
   
}
.home{
    background-image: url("https://thelogicalindian.com/h-upload/2020/01/27/159307-armyfb.jpg");
    height: 700px;
    width: auto;
}

.home h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.home h3{
    color: red;
}
.xyz{
    color: red;
    font-family: cursive;
}
div army{
    color: red;
}
.qwe h1
{
color: red;
}
.qwe h2{
    color: mediumseagreen;
    padding-right: 20cm;
    co
}
.abc{
    color: darkcyan;

}
.abc u{
    color: mediumblue;
text-decoration:underline;
padding-top: 5cm;
}
.RTY h2{
    color: coral;
}
.RTY h1{
    text-decoration: underline;
    padding-top: 2cm;
}
.abc ul{
   text-decoration-line: underline;
}
.about{
    text-decoration-line: underline;
    padding-top: 5cm;
    padding-left: 15cm;
}
.about p{
    text-align: center;
}
.A{
    width: 50px;
}

.form-control {
    width: 300px;
    margin: 5px;
}